.footer {
  padding: 25px;
  color: #111430 !important;
}
.footer-title {
  opacity: 100 !important;
}

@media (max-width: "768px") {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
